**/__pycache__
**/.classpath
**/.devcontainer
**/.dockerignore
**/.DS_Store
**/.editorconfig
**/.env
**/.git
**/.github
**/.gitignore
**/.pre-commit-config.yaml
**/.project
**/.settings
**/.tool-versions
**/.toolstarget
**/.venv
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/*.py#
**/*.py~
**/*.pyc
**/azds.yaml
**/bin
**/charts
**/compose*
**/csv
**/django
**/docker-compose*
**/Dockerfile*
**/img
**/LICENSE
**/nltk_data/*
**/node_modules
**/npm-debug.log
**/obj
**/README.md
**/secrets.dev.yaml
**/terraform
**/values.dev.yaml
**/words_dictionary.json
